@import "../node_modules/bootstrap/scss/bootstrap";

body {
    position: relative; 
    overflow-y: scroll;
    background-color: rgb(53, 53, 54);
}

.home, .experience, .skills, .portfolio, .contact{
    padding-top: 3.5rem;    
}

.about {
    background: url(../src/assets/images/about-bg.jpg);
    opacity: 0.9;
}

.progress {
    height: 25px;
}


.social-icon {
    list-style: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

@media (max-width: 575.98px) {
    .order-sm-last {
        order: 6 !important;
    }

    .profile-img {
        padding-top: 3.5em;
    }

    .experience, .skills, .portfolio, .contact {
        padding-top: 6em;
        height: 100% !important;
    }

    .social-icon {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
  
  }