@import "../node_modules/bootstrap/scss/bootstrap";

body {
    position: relative; 
    overflow-y: scroll;
    background-color: rgb(53, 53, 54);
}

.home, .experience, .skills, .portfolio, .contact{
    padding-top: 3.5rem;    
}

.about {
    background: url(../src/assets/images/about-bg.jpg);
    opacity: 0.9;
}

.greetings {
    font-size: 4rem;
    margin-left: 20px;
    text-shadow: 2px 2px 2px black, .1em 0.1em 0.1em rgb(51, 255, 0);
}

.detail {
    font-size: 3rem;
    text-shadow: 2px 2px 2px black
}

.progress {
    height: 25px;
}


.social-icon {
    list-style: none;
}

@media (max-width: 575.98px) {
    .order-sm-last {
        order: 6 !important;
    }

    .profile-img {
        padding-top: 3.5em;
        margin-top: 3em;
    }

    .experience, .skills, .portfolio, .contact {
        padding-top: 6em;
        height: 100% !important;
    }

    .social-icon {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .greetings {
        font-size: 2.5rem;
    }
    .img-fluid{
       
        margin-top: 2em !important;
    }
  
  }
